@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

        <ul class="navbar-nav">
            @if (SignInManager.IsSignedIn(User))
{
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index" title="Dashboard">
                    Bonjour @User.Identity.Name !
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" method="post" asp-area="" asp-controller="Compte" asp-action="Logout">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="nav-link btn btn-link text-dark">Déconnexion</button>
                </form>
            </li>
}
else
{
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
            </li>
}
        </ul>
